@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(179, 62%, 43%);
  --color-primary-light: #49bebd;
  --color-secondary: hsl(71, 73%, 54%);

  --color-light-grey: hsl(204, 43%, 93%);
  --color-dark-grey: hsl(218, 22%, 67%);
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  background-color: var(--color-light-grey);
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Container */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);

  width: 65rem;
  height: 50rem;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 12px 14px 5px 3px rgba(0, 0, 0, 0.03);
}

/* Header */
.header {
  grid-column: 1/3;
  grid-row: 1/4;
  background-color: rgb(255, 255, 255);
  margin: 4rem 4rem 4rem 5rem;
}

.h1-header {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.h2-header {
  color: var(--color-secondary);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h3-header {
  color: var(--color-dark-grey);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

/* Aside Left */
.left {
  background-color: var(--color-primary);
  color: white;
  grid-row: 4/8;
}

.h3-left {
  font-size: 2rem;
  margin: 3rem 4rem 2rem 4rem;
  font-weight: 400;
}

/* Price text */
.p-price {
  margin-left: 4rem;
  position: relative;
}

.price {
  font-size: 3.5rem;
}

.span-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--color-light-grey);
  opacity: 0.7;
}

.paragraph {
  font-size: 1.6rem;
  margin: 1rem 0 3rem 4rem;
  opacity: 0.8;
}

/* Button */
.btn-sign {
  display: inline-block;
  background-color: var(--color-secondary);
  color: white;
  font-size: 1.4rem;
  width: 80%;
  height: 5rem;
  border: none;
  border-radius: 0.7rem;
  margin: 1rem auto 0 4rem;
  box-shadow: 2px 9px 5px 2px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.btn-sign:active {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-secondary);
}

/* Aside right */
.right {
  box-sizing: inherit;
  background-color: var(--color-primary-light);
  color: white;
  grid-row: 4/8;
}

.h3-right {
  font-size: 2rem;
  margin: 3rem 4rem;
}

.ul-list {
  margin-left: 4rem;
  list-style: none;
}

.list {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--color-light-grey);
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
  }
  .header {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .right {
    grid-column: 1/1;
    grid-row: 3/4;
  }

  .left {
    grid-column: 1/1;
    grid-row: 2/3;
    padding-bottom: 4rem;
  }
}
